In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [55]:
URL = "https://www.pensiondanmark.com/en/investments/equity-list/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

In [56]:
tables = soup.find_all("tr", class_ = "row-with-link")

In [57]:
items = []

for table in tables:
    company_name = table.find_all("td")
   #print(company_name)
    for item in company_name:
        items.append((item.text).strip())

#print(items)

In [58]:
### itertools

chunks = [items[i:i+5] for i in range(0, len(items), 5)]
#print(chunks)

In [59]:
df = pd.DataFrame(chunks, columns=["Country", "Name", "Market Value", "Sector", "Link"])
df = df.drop(columns=['Link'])

print(df)

            Country                 Name Market Value  \
0     United states                Apple       699.53
1     United states               NVIDIA       635.21
2     United states            Microsoft       597.87
3     United states           Amazon.com       404.96
4     United states             Alphabet       376.58
...             ...                  ...          ...
1448  United states    Westlake Chemical         0.15
1449          China      NARI Technology         0.11
1450         France              Euroapi         0.00
1451          India  Piramal Enterprises         0.00
1452          India       Piramal Pharma         0.00

                                          Sector
0     Technology Hardware, Storage & Peripherals
1                                 Semiconductors
2                               Systems Software
3                               Broadline Retail
4                   Interactive Media & Services
...                                          ...
1448                         Commodity Chemicals
1449                  Heavy Electrical Equipment
1450                             Pharmaceuticals
1451                         Specialized Finance
1452                             Pharmaceuticals

[1453 rows x 4 columns]